body {
    padding-top: 0px;
}
nav {
    background-color: #404040;
}
.brand-logo {
    margin-left: 20px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #4c5252;
}

td.title {
    font-size: 20px !important;
    color: green;
}
.title-list {
    font-size: 20px !important;
}
